@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;

    flex-direction: column;


    background-image: url("../img/background-image-edit-v1.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
#big-title{
font-family: 'Caveat', cursive;
color: white;
font-size: 50px;
  /*background: -webkit-linear-gradient(#000000,#ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-weight: 500;
font-size: 72px;
padding-right: 10px;*/
}
.navbar{
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: center;
    align-self: flex-start;
    background-color: rgba(61, 61, 61, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    margin-bottom: 20px;

}
.avatar{
    height: 40px;
    width: 40px;
    background-color: rgb(107, 72, 72);
    margin-right: 10px;
    border-radius: 50%;
    background-image: url("../img/avatar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.popup{
    align-self: flex-end;
 position: absolute;
 width: 240px;
 height: 400px;
 top: 75px;
 right: 15px;
  z-index: 2;
  background-color: #d8d8d8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;

}
.phide{

  visibility: hidden;
  display: none;
}
.settings{
    height: 45px;
}
.plogout, .settings{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.plogout{
    padding-top: 10px;
}
.plogout:hover{
    background-color: rgba(226, 53, 53, 0.432);
    border-radius: 30px;
    transition: all 0.2s;
    padding-left: 10px;
    cursor: pointer;
}
.popup span{
    margin-left: 7px;
    font-weight: bold;
}
.settings span{
    margin-bottom: 5px;
}
.plogout-icon{
    width: 35px;
    height: 35px;
    background-color: red;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plogout-icon img{
    width: 22px;
    margin-left: 2px;

}
.logout{

    height: 50px;
    width: 50px;
    background-color: rgb(212, 3, 3);
    border-radius: 50%;
    color: white;
    border: none;
}
.logout i {
    color: white;
    width: 50px;
    height: 50px;
    
}



/*
.settings{

    align-self: flex-end;
    height: 50px;
    width: 50px;
    background-color: gray;
    border-radius: 50%;
}

*/

.toolbox{
   width: 70vw; 
   height: 50px;
   background-color: gray;
    margin-top: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.create-file{
    display: flex;
    height: 100%;
    flex-grow: 1;

}
#titleId{
    flex-grow: 1;
}
.upload-file{

    height: 100%;
    width: 140px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: rgb(35, 161, 35);
    border-radius: 0px 10px 10px 0px;
}
.upload-file span{
    padding-bottom: 4px;
    color: white;
    padding-right: 10px;
}
.upload-file .icon img{
    width: 20px;
}
.upload-file .icon {
    padding-top: 3px;
    padding-left: 3px;
    width: 20px;
}
.upload-file:hover{
    background-color: rgb(9, 196, 9);
    cursor: pointer;
}
.filelist{
    margin-top: 20px;
    width: 70vw; 
    height: 500px;
    background-color: gray;
    border-radius: 12px 12px 0 0 ;
 
 }

.create{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 125px;
    
    padding-right: 5px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background-color: rgb(52, 104, 245);


}
.create:hover{
    background-color: rgba(7, 61, 209, 0.897);
    cursor: pointer;
}
.create img{
    width: 15px;
    color: white;
    margin-left: 5px;
}

.create span{
    margin-bottom: 3px;
padding-right: 5px;
color: white;
}
/* create a file 
*/
.filelist{
    padding: 5px;
background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  overflow-x: hidden;
height: 400px;

}
.file{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
border-radius: 10px;
margin-bottom: 7px;
background-color:#ABACB1 ;
}
.file:hover{

background-color:#95969b ;
}
.icon{
    width: 5%;
}
.icon img{
    width: 25px;
}
.titre{
    width: 45%;
}
.date{

    width: 30%;
}
.options{

    display: flex;
    justify-content: space-around;
    width: 20%;
}
.options img{
    width: 20px;

}
.edit{

    padding: 5px;

}
.edit:hover{
    background-color: #fae20991;
    border-radius: 50%;
}
.remove{


    padding: 5px;
}
.remove:hover{
    
    border-radius: 50%;
    background-color: #eb3232b9;
}
.options img:hover{

    transform: rotateZ(130deg);
    transition: all 0.3s;
}
.toolbox input{
    width: 180px;
    height: 100%;
    background-color: transparent;
    border: none;
    padding-left: 10px;
}