@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    /* Full height */
    background-image: url("https://ow2.res.office365.com/owalanding/2022.9.20.02/images/opengraph.jpg");
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* Center and scale the image nicely */
    justify-content: space-between;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
.header{

    height: 70px;
    width: 100%;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    color:#fff;
    font-family: monospace;
    font-weight: 900;
    font-size: xx-large;
}
.logo img{
    height: 30px;

}

.auth{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-right: 20px;

}
.auth a {
    align-self: flex-end;
    color: white;
    text-decoration: none;
    font-family: monospace;
    font-size: large;


}

.login{
    background-color: #0060AA;
    border-radius: 4px;
    padding: 7px 15px 7px 15px;
}
.sign-up{
    background-color: #0060AA;
    border-radius: 4px;
    padding: 7px 15px 7px 15px;
}
.text{
    margin: 0 0 10px 40px;
}
.text span{
    font-size: 110px;
    color: white;
    font-weight: 400;
    font-family: 'Waiting for the Sunrise', cursive;
}